<div class="container">    
    <div class="row">       
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <h4 class="card-header text-center py-4">
          <span class="card-title text-center">You are logged out of the application. </span>
          <span class="card-title text-center">Click 
          <a [routerLink]="['/login']">here</a><span class="card-title text-center"> to login again. </span>
        </span>
        </h4>
          </div>
          </div>
          </div>
